/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;


}

h1, h2, h3, h4, h5, h6,  {
    font-family: VWHeadWeb,Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 0;
}

body {
    margin:0;
}

header {
    background-image: url(../images/VolkswagenHomeBanner.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;

}

header {
    color:white;
    position:relative;


}

header button {
    position:relative;
  width:5em; height:2.5em;
  font-size:1em;
  background-color:transparent;
  border:none;
  border-radius:.25em;
  appearance:none;
  cursor:pointer;
  color: white;

}
header nav ul   {
    position: fixed;
    margin:0;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: white;
    color: #001e50;
    transform:translateX(-100%);

}

header nav li  {
    list-style-type:none;
    padding: 1em;

}


.keuzehulp {
    background: linear-gradient(0deg, rgba(1, 29, 80, 1) 50%, rgba(3, 44, 100, 1) 100%);
    color:white;
}


.test {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.test li {
    padding: 2em;
    text-align: center;
    text-decoration: underline;


}
